html
  head
     title!= title
  body
    h1!= message
    a(href='/dspsysstatus') Stato Sistema
    br
    a(href='/active_job') Active Job
    br
    a(href='/rpg_programm') RPG Programm (debug RDI)