include ./includes/header.jade

div.container
    h2=title
    p2=cmd
        br
        | For more info&#160
        a(href="https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/IBM%20i%20Technology%20Updates/page/Toolkit%20for%20i%20APIs") Click Here
    br
    br
    p2=pram1
    br
    p2=pram2
        
include ./includes/footer.jade